.login {
  height: 100vh;
  background-color: rgba(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    width: 50%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 400px;
    overflow: hidden;
    .left {
      flex: 1;
      background: linear-gradient(
          rgba(27, 69, 116, 0.884),
          rgba(36, 24, 105, 0.582)
        ),
        url("https://images.freeimages.com/images/large-previews/85a/cliff-over-indian-ocean-1520869.jpg"),
        center;
      background-size: cover;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 7px;
      color: white;

      h1 {
        font-size: 80px;
        line-height: 80px;
      }
      p {
      }
      span {
        font-size: 14px;
      }
      button {
        width: 50%;
        padding: 10px;
        background-color: rebeccapurple;
        border: none;
        cursor: pointer;
        font-weight: bold;
      }
    }
    .right {
      flex: 1;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      h1 {
        color: #555;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: rgba(24, 99, 99, 0.788);
          color: white;

        }
      }
    }
  }
}
