@import "../../styles.scss";
.post {
  @include themify($themes) {
    -webkit-box-shadow: inset 7px 7px 7px -8px rgba(143, 119, 143, 0.47);
    -moz-box-shadow: inset 7px 7px 7px -8px rgba(143, 119, 143, 0.47);
    box-shadow: inset 7px 7px 7px -8px rgba(143, 119, 143, 0.47);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");
    margin-bottom: 10px;
    .container {
      padding: 20px;
      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .userInfo {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }
          .details {
            display: flex;
            flex-direction: column;
            align-items: center;
            .name {
              font-weight: 500;
            }
            .date {
              font-size: 12px;
            }
          }
        }
      }
      .content {
        margin: 20px 0;
        img {
          width: 100%;
          max-height: 500px;
          object-fit: cover;
          margin-top: 20px;
        }
      }
      .info {
        display: flex;
        align-items: center;
        gap: 20px;
        .item {
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
